body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px; /* 조절 가능한 여백 값 */
  margin: 0;
  overflow: hidden;
}
canvas {
  border: 1px solid #000;
  width: 120%; /* 가로 너비를 80%로 설정 */
  height: 60%; /* 세로 높이를 40%로 설정 */
}

#myModal {
  display: none; /* 모달 초기에는 숨겨진 상태 */
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  text-align: center;
}
#Method {
  display: block; /* 모달 초기에는 숨겨진 상태 */
  position: absolute;
  top: 57.5%;
  left: 50%;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  padding: 24px;
  background-color: rgba(255, 252, 252, 0.447); /* 배경 색상 변경 */
  box-shadow: 0 0 10px rgba(232, 229, 229, 0.5); /* 그림자 효과 추가 */
  text-align: center;
}
.modal-content {
  color: #0e0d0d; /* 텍스트 색상 변경 */
  font-size: 24px; /* 폰트 크기 변경 */
}
.method-content {
  color: #0e0d0d; /* 텍스트 색상 변경 */
  font-size: 24px; /* 폰트 크기 변경 */
  height: 40%;
}
.method-content p:first-child {
  margin-top: 0; /* 맨 윗글과의 간격을 0으로 설정합니다. */
}

/* 닫기 버튼 스타일 */
.close {
  color: #888;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

/* 닫기 버튼에 호버 효과 추가 */
.close:hover {
  color: #f00;
}
